<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="static/styles.css">
  <title>TTS API</title>
</head>
<body>

  <div id="container">
    <div>
        <h1>Converta seu texto para áudio!</h1>
    </div>
    <div id="search">
        <form action="/v1/tts" id="tts-form" method="post">
          <textarea id="textInput" class="form-control"></textarea><br>
          <select id="routeSelect">
            <option value="v1">Rota v1</option>
            <option value="v2">Rota v2</option>
            <option value="v3">Rota v3</option>
          </select><br><br>
          <button id="submitBtn" class="btn btn-primary">Converter</button>
        </form>
    </div>
    <div id="output"></div>
  </div>
  <!-- Script que recebe o texto do usuário e realiza uma request para a rota especificada. -->
  <script>
    // Função ativada ao clicar no botão "Converter"
    document.getElementById("submitBtn").addEventListener("click", function(event) {
      event.preventDefault();

      // Extrai o texto e a rota escolhida pelo usuário e cria uma função de HTTP Request.
      const textInput = document.getElementById("textInput").value;
      const routeSelect = document.getElementById("routeSelect").value;
      const xhr = new XMLHttpRequest();

      // Abre a requisição POST para a rota escolhida
      xhr.open("POST", `/${routeSelect}/tts`, true);
      xhr.setRequestHeader("Content-Type", "application/json");

      // Envia a resposta como JSON/string na tela
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          const response = JSON.parse(xhr.responseText);
          document.getElementById("output").innerText = JSON.stringify(response, null, 2);
        }
      };
      xhr.send(JSON.stringify({ phrase: textInput }));
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
  </script>
</body>
</html>